body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex-block;
  background: #fffff5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 95%;
}


#leftButton {

}

#rightButton {
  margin-left: 30px;
}

#ScrollButtonsOutermost {
  float: right;
}

#graph {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: auto;
  width: 95%;
  height: 380px;
  padding: auto;
}

.largeText {
  font-size: 15px;
}

.smallText {
  font-size: 12px;
  font-weight: bold;
}

.tinyText {
  font-size: 9px;
  font-weight: bold;
}

#bottomBar {
  width: 98%;
  margin: auto;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  display: flex-block;
  font-size: 13px;
}

#cancelButton {
  font-size: 15px;
}

textarea {
  border-width: 1px;
  border: solid black;
  width: 120px;
  height: 30px;
  resize: none;
}

.finalizeForm {
  display: flex;
  align-items: center;
  margin: 10px;
}

input {
  background: gainsboro;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 40px;
  font-size: 1.2em;
}

.inputDiv {
  margin: 5px;
  width: 99%;
}

button {
  border: solid DarkViolet;
  color: black;
  background: LightPink;
  border-width: 1px;
  height: 40px;
  width: 80px;
  font-size: 1.3em;
  border-radius: 5px;
}

#signupButton {
  height: 70px;
  margin-top: 30px;
}





.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
}



.loggedIn {
  font-size: 1.5em;
}

.loggedOut {
  font-size: 1.5em;
  justify-text: auto; 
  padding: auto;
  margin: auto;
}

.btn {
  margin: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.formInput {
   font-size: 1.2em;
}

.App-header {
  background-color: rgba(150, 100, 200, .5);
  height: 25px;
  padding: 0px;
  color: white;
  align-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: 0px;
  margin-right: 0px;
  padding: 15px;
}

#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

