.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
}

.loggedIn {
  font-size: 1.5em;
}

.loggedOut {
  font-size: 1.5em;
  justify-text: auto; 
  padding: auto;
  margin: auto;
}

.btn {
  margin: 30px;
}


.formInput {
   font-size: 1.2em;
}

/*.App-header {
  background-color: rgba(150, 100, 200, .5);
  height: 25px;
  padding: 0px;
  color: white;
  align-content: center;
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: 0px;
  margin-right: 0px;
  padding: 15px;
}

#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

